.slideshow {
    padding: 0 6%;
    margin-bottom: 20px;

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
        height: 420px;
    }

    &__counter {
        position: absolute;
        bottom: 15px;
        color: $secondary-color;
        font-weight: bold;
    }

    &__icon {
        color: $secondary-color;

        &--left {
            position: absolute;
            top: 160px;
            left: 20px;
        }

        &--right {
            position: absolute;
            top: 160px;
            right: 20px;
        }
    }
}

@media (max-width: 768px) {

    .slideshow {

        margin-bottom: 5px;
        margin-top: 10px;

        &__image {
            height: 255px;
            border-radius: 10px;
        }

        &__counter {
            display: none;
        }

        &__icon {

            &--left {
                font-size: 25px;
                top: 110px;
                left: 10px;

            }

            &--right {
                font-size: 25px;
                top: 110px;
                right: 10px;

            }
        }

    }

}