.host {
    display: flex;
    align-items: center;

    &__name {
        margin-right: 10px;
        color: $primary-color;
    }

    &__picture {
        width: 70px;
        border-radius: 70px;
    }
}