/**** VARIABLES & MIXINS ****/
/* colors */
$primary-color: #ff6060;
$secondary-color: white;
$tertiary-color: #803030;
$empty-star-color : #e3e3e3;
$background-black-color: black;
$background-lightgrey-color: #f6f6f6;