@import "./utils/variable-mixins";
@import "../components/Banner/banner";
@import "../layouts/Header/header";
@import "../components/Nav/nav";
@import "../layouts/Footer/footer";
@import "../components/Gallery/gallery";
@import "../components/Cards/cards";
@import "./pages/about";
@import "./pages/error";
@import "../components/Slideshow/slideshow";
@import "../components/Collapse/collapse";
@import "../components/Rate/rate";
@import "../components/Tag/tag";
@import "../components/Host/host";
@import "./pages/lodging";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-logo {

  &--header {
    width: 220px;
  }

  &--footer {
    width: 130px;
    filter: brightness(0) invert(1);
    margin-top: 60px;
    margin-bottom: 15px;
  }
}

.cta {
  text-decoration: none;

  &--header {
    font-size: 27px;
    color: $primary-color;
  }

  &--gallery-card {
    color: $secondary-color;
  }
}

@media (max-width: 768px) {

  body {
    min-width: 320px;
  }

  .main-logo {

    &--header {
      width: 150px;
    }

    &--footer {
      margin-bottom: 10px;
    }

  }

  .cta {

    &--header {
      font-size: 15px;
    }

  }

}