@import "./utils/variable-mixins";
@import "./pages/home";
@import "./layout/header";
@import "./layout/footer";
@import "./components/gallery.scss";
@import "./pages/error";
@import "./components/slideshow";
@import "./components/collapse";
@import "./pages/lodging";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-logo {

  &--header {
    width: 220px;
  }

  &--footer {
    width: 130px;
    filter: brightness(0) invert(1);
    margin-top: 60px;
    margin-bottom: 15px;
  }
}

.cta {
  text-decoration: none;

  &--header {
    font-size: 27px;
    color: $primary-color;
  }

  &--gallery-card {
    color: $secondary-color;
  }
}