/**** VARIABLES & MIXINS ****/
/* colors */
.banner-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0% 6%;
  margin-bottom: 45px;
}
.banner-container__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 225px;
}
.banner-container__hover {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 6%;
  right: 6%;
  bottom: 0px;
  padding: 0 4%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 55px;
}

@media (max-width: 768px) {
  .banner-container {
    margin-bottom: 20px;
  }
  .banner-container__image {
    border-radius: 10px;
    height: 110px;
  }
  .banner-container__hover {
    font-size: 25px;
    border-radius: 10px;
  }
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 6%;
  margin-top: 40px;
  margin-bottom: 45px;
}
.main-header a:hover {
  text-decoration: underline;
}
.main-header__home {
  margin-right: 65px;
}

@media (max-width: 768px) {
  .main-header {
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
.nav {
  margin-right: 65px;
}

@media (max-width: 768px) {
  .nav {
    margin-right: 20px;
  }
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.main-footer__copyright {
  color: white;
  font-size: 25px;
}

@media (max-width: 768px) {
  .main-footer__copyright {
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
  }
}
.gallery {
  padding: 0 6%;
}
.gallery__container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  gap: 60px;
  background-color: #f6f6f6;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
}
.gallery__card {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff6060, #803030);
  border-radius: 10px;
  overflow: hidden;
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 768px) */
@media (max-width: 768px) {
  .gallery__container {
    display: grid;
    grid-template-columns: 1.5fr;
    gap: 20px;
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.card-content__image {
  display: flex;
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-content h3 {
  padding: 0 5%;
}

@media (max-width: 768px) {
  .card-content__image {
    height: 200px;
  }
}
.collapse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 14%;
}

@media (max-width: 768px) {
  .collapse {
    padding: 0 6%;
  }
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
}
.error__image {
  margin-top: 90px;
  margin-bottom: 50px;
}
.error__text {
  font-size: 40px;
  margin: 90px 0;
  text-align: center;
}
.error a {
  color: #ff6060;
  margin-top: 50px;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  .error__image {
    width: 200px;
  }
  .error__text {
    font-size: 20px;
    margin: 70px 0;
    padding: 0 6%;
  }
  .error a {
    margin-bottom: 110px;
  }
}
.slideshow {
  padding: 0 6%;
  margin-bottom: 20px;
}
.slideshow__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slideshow__image {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: 420px;
}
.slideshow__counter {
  position: absolute;
  bottom: 15px;
  color: white;
  font-weight: bold;
}
.slideshow__icon {
  color: white;
}
.slideshow__icon--left {
  position: absolute;
  top: 160px;
  left: 20px;
}
.slideshow__icon--right {
  position: absolute;
  top: 160px;
  right: 20px;
}

@media (max-width: 768px) {
  .slideshow {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .slideshow__image {
    height: 255px;
    border-radius: 10px;
  }
  .slideshow__counter {
    display: none;
  }
  .slideshow__icon--left {
    font-size: 25px;
    top: 110px;
    left: 10px;
  }
  .slideshow__icon--right {
    font-size: 25px;
    top: 110px;
    right: 10px;
  }
}
.collapse__container {
  margin-bottom: 30px;
}
.collapse__bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  border-radius: 5px;
  padding: 4px 30px 4px 20px;
}
.collapse__title {
  color: white;
  margin: 5px 0;
}
.collapse__icon {
  color: white;
  cursor: pointer;
  transition: transform 300ms;
}
.collapse__icon.open {
  transform: rotate(-180deg);
}
.collapse__render-content {
  background-color: #f6f6f6;
}
.collapse__content {
  color: #ff6060;
  padding: 20px 15px 10px 15px;
  margin: 0;
}
.collapse__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0px 0px 5px 0px;
}

@media (max-width: 768px) {
  .collapse__container {
    margin-bottom: 20px;
  }
  .collapse__title {
    font-size: 14px;
  }
  .collapse__bloc {
    padding: 0px 20px 0px 20px;
  }
  .collapse__icon {
    font-size: 18px;
  }
}
.rate--empty {
  margin-right: 10px;
  color: #e3e3e3;
}
.rate--full {
  margin-right: 10px;
  color: #ff6060;
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 768px) */
@media (max-width: 768px) {
  .rate--empty {
    margin-right: 5px;
    font-size: 15px;
  }
  .rate--full {
    margin-right: 5px;
    font-size: 15px;
  }
}
.tag {
  background-color: #ff6060;
  color: white;
  padding: 2px 24px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.tag__container {
  display: flex;
  flex-wrap: wrap;
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 768px) */
@media (max-width: 768px) {
  .tag {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .tag__container {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
.host {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.host__name {
  margin-right: 10px;
  color: #ff6060;
  text-align: end;
}
.host__picture {
  width: 70px;
  border-radius: 70px;
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 768px) */
@media (max-width: 768px) {
  .host {
    margin-bottom: 0;
  }
  .host__name {
    font-size: 14px;
  }
  .host__picture {
    width: 40px;
  }
}
.lodging {
  padding: 0 6%;
}
.lodging__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.lodging__collapses {
  display: flex;
  justify-content: space-between;
}
.lodging__collapse {
  width: 45%;
}
.lodging__title {
  margin: 0 0 3px 0;
  color: #ff6060;
}
.lodging__subtitle {
  margin: 0;
  color: #ff6060;
  margin-bottom: 20px;
}
.lodging__host-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px;
}

/****** Media queries ***********/
/* Medium devices (tablets, more than 768px) */
@media (max-width: 768px) {
  .lodging__container {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 0;
  }
  .lodging__collapses {
    flex-direction: column;
    align-items: center;
  }
  .lodging__collapse {
    width: 100%;
  }
  .lodging__title {
    margin: 0 0 10px 0;
  }
  .lodging__subtitle {
    margin-bottom: 10px;
  }
  .lodging__host-rate {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-logo--header {
  width: 220px;
}
.main-logo--footer {
  width: 130px;
  filter: brightness(0) invert(1);
  margin-top: 60px;
  margin-bottom: 15px;
}

.cta {
  text-decoration: none;
}
.cta--header {
  font-size: 27px;
  color: #ff6060;
}
.cta--gallery-card {
  color: white;
}

@media (max-width: 768px) {
  body {
    min-width: 320px;
  }
  .main-logo--header {
    width: 150px;
  }
  .main-logo--footer {
    margin-bottom: 10px;
  }
  .cta--header {
    font-size: 15px;
  }
}/*# sourceMappingURL=index.css.map */