.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary-color;

    &__image {
        margin-top: 90px;
        margin-bottom: 50px;
    }

    &__text {
        font-size: 40px;
        margin: 90px 0;
    }

    & a {
        color: $primary-color;
        margin-top: 50px;
        margin-bottom: 140px;
    }


}