.lodging {
    padding: 0 7%;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    &__collapses {
        display: flex;
        justify-content: space-between;
    }

    &__collapse {
        width: 45%;
    }

    &__title {
        margin: 0 0 3px 0;
        color: $primary-color;
    }

    &__subtitle {
        margin: 0;
        color: $primary-color;
    }

    &__tags-rate {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }


}